body {
    height:10dvh;
    font-family: 'Arial', sans-serif;
}



.card {
    background-color: rgba(123, 160, 185, 0.575);
    border-radius: 10px;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.form-label {
    color: #d6dee6;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
}

.form-control {
    border-radius: 5px;
    border: 0.5px solid #47a9fa;
    font-size: 1.2rem;
}
.input-text1{
background-color: #5e94f7;   
font-weight: bold;

}
.input-text2{
    background-color: #7aa9ff;   
    

}
.input-text3{
    background-color: #88aef5;  
    font-size: 0.9rem;
    font-weight: bold;
    
}
.btn{
    width: 250px;
    border-radius: 10px;
    background-color: #47a9fa;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
