.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  .Calendario{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 20px;
    
  }

  .color2{
    margin-top: 10px;
    padding-top: 10px;
    background-color: red !important;
  }
  ::-webkit-scrollbar{
    
    width: 100%;
    height: 12px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .note-card {
    min-width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .item-list {
    max-height: 150px; /* Limita la altura máxima solo de la lista de ítems */
    overflow-y: auto; /* Activa desplazamiento solo para la lista de ítems */
    margin-bottom: 10px; /* Agrega un espacio inferior para los botones */
  }
  
  .limited-list {
    overflow-y: auto; /* Activa el desplazamiento vertical si se supera la altura */
 
  }
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  .note-card, .calendar {
    flex: 1;
    max-width: 300px;
  }
  
  .separator {
    border-left: 2px solid #ccc;
    height: 100%;
    margin: 0 20px;
  }
  .boton-trello{
    background-color: black !important;
    color: white;
  }
  .boton-trello:hover{
    background-color: #070707 !important;
    color: #8b8b8b !important;
    padding: 10px 20px; 
    text-transform: uppercase; 
    font-size: 16px; 
    font-weight: bold; 
    position: relative; 
    display: inline-block;
    transition: all 0.5s ease;
  }
  .boton-trello::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #014694; 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
  }
  
  .boton-trello:hover::before {
    transform: scaleX(1); /* Expand border on hover */
  }
  

  
  
